* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.topbar {
    background-color: #333;
    display: inline-block;
    width: 30%;
}

.sidebar {
    background-color: #333;
    display: inline-block;
    width:69.5%;
}

.content {
    background-color: #333;
    display: inline-block;
}

.table > thead:first-child > tr:first-child > th:first-child {
    position: absolute;
    display: inline-block;
    background-color: red;
    height: 100%;
}

.table > tbody > tr > td:first-child {
    position: absolute;
    display: inline-block;
    background-color: red;
    height: 100%;
}

.table > thead:first-child > tr:first-child > th:nth-child(2) {
    padding-left: 40px;
}

.table > tbody > tr > td:nth-child(2) {
    padding-left: 50px !important;
}